body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*WORD -ATTRIBUTES; YOU CAN ADD THESE TO DO SEPCIFIC THINGS */
.shadow {
    box-shadow: 0 0 9px black;
}
.tileshadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.minitileshaddow {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: box-shadow .2s;
}
.minitileshaddow:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.larger {
    font-size: 180%!important;
}

/*NAVIGATION BARS*/
.navBar {
    margin-left: ;
    position: fixed;
    height: 100%;
    width: 240;
    background-color: #212121;
    z-index: 1000;
    transition: margin-left .2s ease-in;
    overflow-y: auto;
    overflow-x: hidden;
}
.profile {
    position: relative;
    height: 160;
    width: 100%;
    padding: 0;
    border-style: solid;
    border-bottom-color: #03A9F4;

    
}
.profile .pic {
    position: relative;
    width: 80;
    height: 80;
    margin-left: 80;
    margin-top: 20;
}
.profile .desc {
    text-align: center;
    color: #eceff1 ;
    margin-top: 15;
    text-shadow: 0 0 9px black;
}
.name {
    position: relative;
    cursor: pointer;
}
.name:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
 
.name:hover:after{
  width: 100%;
  left: 0;
  background: #fff;
}
.navigation {
    position: relative;
    height: calc(100% - 250px);
    width: 100%;
}
.navTable {
    margin-top: 10;
    position: relative;
    width: 100%;
    border-collapse: collapse;
}
.navTable tr {
    color:#e6e6e6;
    cursor: pointer;
    height: 60;
    transition: background-color .2s, color .2s;
}
.navTable td {
    font-size: 100%;
}
.navTable .icon {
    font-size: 140%;
    width: 30%;
    padding-left: 25;
}
.navTable tr:hover {
    color: #03A9F4;
}





.overBar {
    height: 70;
    position: absolute;
    width: 100%;
    z-index: 999;   
}
.overHeadTable {
    width: 100%;
    height: 70;
}
.navOpen {
    width: 260;
    box-sizing: border-box;
    padding-left: 20;
    font-size: 160%;
    transition: width .2s ease-in;
}
.navOpen i {
    cursor: pointer;
}
.pageTitle {
    font-size: 130%!important;
    color: gray;
}

.fluxlogo {
    height: 30;
    margin-top: 12;
    margin-left: 10;
}







/*MIDDLE LAYOUT */

.middleLayout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
    position: relative; 
    width: calc( 100% - 240px); 
    height: calc(100% - 70px); 
    margin-top: 70px;
    z-index: 999; 
    background-color: white; 
    display: none;
    z-index: 0;
    box-sizing: border-box;
    padding: 20;
}
.today {
    box-sizing: border-box;
    padding: 30;
    width: 300;
    font-size: 160%;
    color: slategray;
    height: 180;
    margin-right: 20;
    margin-bottom: 20;
}
.dashDate {
    font-size: 80%;
    color: gray;
}
.daysLeft {
    display: flex;
    flex-direction: row;
    height: 50;
    margin-top: 10;
    box-sizing: border-box;
}
.act {
    cursor: pointer;
    width: 100;
    margin-right: 20;
    padding-left: 10;
    padding-top: 6;
    box-sizing: border-box;
}
.sat {
    cursor: pointer;
    width: 100;
    padding-left: 10;
    padding-top: 6;
    box-sizing: border-box;
}
.act div {
    font-size: 60%;
    box-sizing: border-box;
    color: slategray;
}
.act .smaller {
    padding-left: 3;
    font-size: 50%;
}
.sat div {
    font-size: 60%;
    box-sizing: border-box;
    color: slategray;
}
.sat .smaller {
    padding-left: 3;
    font-size: 50%;
}




.satProgress {
    width: 200;
    height: 180;
    margin-right: 20;
    margin-bottom: 20;
}
#circle2 {
    height: 100%;
    box-sizing: border-box;
    padding-left: 40;
    padding-top: 30;
}
#circle3 {
    height: 100%;
    box-sizing: border-box;
    padding-left: 40;
    padding-right: 40;
    padding-top: 30;
    padding-bottom: 30;
}
.actProgress {
    width: 200;
    height: 180;
    margin-right: 10;
    margin-bottom: 20;
}
.percDisplay {
    position: absolute;
    widows: 100%;
    padding-left: 40;
    margin-top: -80;
    box-sizing: border-box;
    font-size: 220%;
}



/*RESPONSIVE DESIGN*/
