body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    border: solid .1px transparent;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: -1px!important;
    margin-left: -1px!important;
    background-color: #f5f5f5;
}


/*WORD -ATTRIBUTES; YOU CAN ADD THESE TO DO SEPCIFIC THINGS */
.shadow {
    box-shadow: 0 0 9px black;
}
.tileshadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.minitileshaddow {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: box-shadow .2s;
}
.minitileshaddow:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.larger {
    margin-left: -5;
    font-size: 140%!important;
}
.move {
    margin-top: 0;
    margin-left: 10;
}
.checkbox-indigo[type="checkbox"] + label:before{
  border: 2px solid indigo;
  background: transparent;
}
.checkbox-indigo[type="checkbox"]:checked + label:before{
  border: 2px solid transparent;
  border-bottom: 2px solid indigo;
  border-right: 2px solid indigo;
  background: transparent;
}
.checkbox-indigo.filled-in[type="checkbox"] + label:after{
  border: 2px solid indigo;
  background: transparent;
}
.checkbox-indigo.filled-in[type="checkbox"]:checked + label:after{
  background: indigo;
}
.checkbox-indigo.filled-in[type="checkbox"]:checked + label:before{
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.margin {
    margin-bottom: 10;
}
.center {
    margin-left: 40%;
}
.down {
    margin-top: 20
}
/*NAVIGATION BARS*/
.logo {
    position: relative;
    height: 70;
}
.logo .image {
    margin-top: 23;
    height: 25;
    margin-left: 23;
}
.logo .desc {
    font-family: 'Lato', sans-serif;
    color: white;
    margin-top: -26;
    font-size: 130%;
    margin-left: 116;
}
.navBar {
    position: fixed;
    height: 100%;
    width: 240;
    background-color: #212121;
    z-index: 1000;
    transition: margin-left .2s;
    overflow-y: auto;
    overflow-x: hidden;
}
.profile {
    margin-left: -1px;
    position: relative;
    height: 210;
    display: flex;
    background-color: rgba(0,0,0,.3);
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
    border-style: solid;
}

.login {
    height: 35;
    background-color: #2196F3;
    width: 130;
}
.profile .pic {
    position: relative;
    width: 80;
    height: 80;
    margin-top: 20;
}
.profile .desc {

    margin-top: 15;

}
.welcome {
    color: WHITE;
    text-align: center;
    margin-top: 10;
    font-family: 'Lato', sans-serif;
    
}
.name {
    overflow: hidden!important;
    color: antiquewhite;;
    position: relative;
    cursor: pointer;
    transition: color .3s;
}
.name:hover {
    color: white;
}

.navigation {
    position: relative;
    height: calc(100% - 350px);
    width: 100%;
}
.navTable {
    margin-top: 10;
    position: relative;
    width: 100%;
    border-collapse: collapse;
}
.navTable tr {
    color: rgba(255, 255, 255, 0.56);
    cursor: pointer;
    height: 60;
    transition: background-color .2s, color .2s;
}
.navTable td {
    font-size: 100%;
}
.navTable .icon {
    font-size: 140%;
    width: 30%;
    padding-left: 25;
}
.navTable tr:hover {
    color: #42A5F5;
}





.overBar {
    height: 70;
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 999;   
}
.overHeadTable {
    width: 100%;
    height: 70;
}
.navOpen {
    width: 260;
    box-sizing: border-box;
    padding-left: 20;
    font-size: 160%;
    transition: width .2s;
}
.navOpen i {
    cursor: pointer;
}
.pageTitle {
    font-size: 130%!important;
    color: gray;
}

.fluxlogo {
    height: 30;
    margin-top: 12;
    margin-left: 10;
}







/*dashboard page */
.mainContainer {
    margin-left: 239px;
    width: calc(100% - 240px);
    margin-top: 70;
    display: none;
    overflow-y: auto;
    height: calc(100% - 70px);
}
.middleLayout {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    max-width: 1080px;
    margin-top: 10px;
    z-index: 999; 
    align-items: stretch;
    z-index: 0;
    box-sizing: border-box;
    padding: 20;
}
.middleLayout > div {
    background-color: white;
}
.flexCont > div {
    background-color: white;
}
.flexCont {
    height:100;
    min-width: 320;
    display: flex;
    width: calc(100% - 250px);
    flex-wrap: wrap;
    background-color: transparent!important;
}
.today {
    box-sizing: border-box;
    padding: 30;
    width: 300;
    font-size: 160%;
    color: slategray;
    height: 180;
    margin-right: 20;
    margin-bottom: 20;
}
.dashDate {
    font-size: 80%;
    color: gray;
}
.daysLeft {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 50;
    margin-top: 10;
    box-sizing: border-box;
}
.act {
    cursor: pointer;
    width: 100;
    margin-right: 20;
    padding-left: 10;
    padding-top: 6;
    box-sizing: border-box;
}
.sat {
    cursor: pointer;
    width: 100;
    padding-left: 10;
    padding-top: 6;
    box-sizing: border-box;
}
.act div {
    font-size: 60%;
    box-sizing: border-box;
    color: slategray;
}
.act .smaller {
    padding-left: 3;
    font-size: 50%;
}
.sat div {
    font-size: 60%;
    box-sizing: border-box;
    color: slategray;
}
.sat .smaller {
    padding-left: 3;
    font-size: 50%;
}

.analytics {
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    padding: 30;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 20;
}
.analytics .title {
    font-size: 160%;
    color: slategray;
}
.circle {
    margin: 20;
    box-sizing: border-box;
}
.percDisplay {
    position: relative;
    widows: 100%;
    margin-top: 30;
    text-align: center;
    box-sizing: border-box;
    font-size: 180%!important;
}
.infoDisplay {
    position: absolute;
    width: 120;
    margin-left: 13;
    height: 120;
    margin-top: -137;
}
.infoDisplay div {
    text-align: center;
    font-size: 80%;
}


.toDo {
    padding: 30;
    width: 220;
    background-color: #2196F3!important;
    margin-right: 20;

    margin-bottom: 20; 
}
.toDo .title {
    margin-bottom: 20;
    color: white;
    font-size: 120%;
}


.quickAdd {
    box-sizing: border-box;
    padding: 30;
    width: 300;
    font-size: 160%;
    color: slategray;
    height: 180;
    margin-right: 20;
    margin-bottom: 20;
}
.quickAdd .title {
    transition: .2s;
}
.responsiveContainer p {
    width: 100;
}
.box {
    height: 100;
    margin-top: -1;
    box-sizing:border-box;
    padding: 10;
    transition: opacity .2s;
}
.moveUp {
    margin-top: -15
}
.close {
    cursor: pointer;
    transition: opacity .2s;
    display: none;
    opacity: 0;
    font-size: 80%!important;
    position: absolute;
    margin-top: -4;
    margin-left: 220;
    color: rgba(0, 0, 0, 0.56);
    color: #2196F3!important;
}

/* TESTS PAGE */
.myScores {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 380;
    
    width: 100%;
}
.myScores .info {
    margin-top: 120;
    text-align: center;
    font-size: 180%;
    color: slategray;
}
.scoreBox {
    height: 100;
    width: 100;
}
.carousel {
    position: relative;
    height: 100%!important;
}
.score {
    cursor: pointer;
    height: 225!important;
    width: 300!important;
    box-sizing: border-box;
    border: solid 1px gray;
    color: white;
}
.date {
    color: white;
    float: right;
}
.tileTitle {
    position: absolute;
    font-size: 150%;
    margin-left: 30;
    margin-top: 30;
    color: slategray;
}
.time {
    float: right;
}
.testType {
    font-size: 80%;
    color: antiquewhite;
}
.scoreTable {
    margin-top: 10;
    font-size: 100%;
    margin-bottom: 10;
}
.scoreTable td {
    padding: 5px!important;
}
.scoreTable .icon {
    width: 30;
}
.scoreTable .details .icon{
    color: gray;
}
.tableDesc {
    width: 140;
}
.details {
    font-size: 70%;
}
.scores {
    padding-left: 25;
    margin-top: -1;
    box-sizing: border-box;
    padding-top: 2;
    height: 154;
    background-color: white;
}
.cardInfo {
    padding-left: 30;
    padding-right: 30;
    padding-top: 20;
    padding-bottom: 10;
    background-color:  #2196F3;
    
}
.indicators {
    bottom: -0px!important;
    color: black;
}

.charts {
    box-sizing: border-box;
    padding: 30;
    margin-top: 20;
    position: relative;
    width: 100%;
}
.chartTitle {
    font-size: 150%;
    color: slategray;
}
.chartsContainer {
    
    margin-top: 10
}
.canvasChart {


}



/*RESPONSIVE DESIGN*/
@media (max-width: 615px) {
    .todo {
        width: calc(100% + 50px);
        margin-right: 0;
    }
}
.responsiveContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}